*.so
__pycache__
*.stl
*.vtu
*.pvd
*.vtk
*.pvtu
*.swp
*.npy
*.png
build/
*.egg-info/
*.obj
!demo/sample_mesh/sphere.stl
*.stl
*.msh
scratch/
*.xml
*.xml.gz
*.h5
*.xdmf
!la_003.stl
!la_003_cs.stl
steps/
